@font-face {
    font-family: 'salsa';
    src: url('../police/Salsa-Regular.ttf');
}


body{
	word-wrap: break-word;
}
main{
	overflow:auto;
}

header{
	width:100%;
	overflow: auto;
	background-image: url(../image/gazon.jpg);
	background-repeat: repeat;
	background-size: contain;
}

#menu, #menu ul{
	list-style-type: none;
	margin: 0px;
	text-align: center;
	padding:0px;
	z-index: 2;
}

#menu li{
	float:left;
	display:inline-block;
	margin:0px 0px 0px 0px;;
	width:16%
 }

/* #menu li ul{ 
    position: absolute; 
    width: 16%; 
    left: -999em;
} */
#menu li li ul{
	position: relative;
	/*left: 190px;
	top:-50px;*/
}
/*#menu li ul ul{
    margin: -50px 0 0 260px ;
    border-left: 1px solid black ;
    width: 50%;     
}*/

#menu li ul li{
	border-top : 1px solid #fff; /* on met une bordure blanche en haut de chaque élément d'une sous liste */
}


 #menu li li{
	display:inline-block;
	margin:3px auto;
	width:100%
 }


/* #menu li:hover ul ul, #menu li.sfhover ul ul /* Sous-sous-listes lorsque la souris passe sur un élément de liste
{
        left: -999em; /* On expédie les sous-sous-listes hors du champ de vision 
}

#menu li:hover ul, #menu li li:hover ul, #menu li.sfhover ul, #menu li li.sfhover ul  /* Sous-listes lorsque la souris passe sur un élément de liste ET sous-sous-lites lorsque la souris passe sur un élément de sous-liste 
{
        left: auto; /* Repositionnement normal
        min-height: 0; /* Corrige un bug sous IE
}*/

footer{
 	background:brown;
 	margin:0px;
 }

footer li{
 	display:inline-block;
	margin:0px 0px 0px 0px;
	background:brown;
	text-align: center;
	border-radius: 30px;
	width:23%
 }

footer ul{
 	background-image: url(../image/vers_compost.gif);
	background-repeat: repeat;
	background-size: contain;
 }

  footer ul ul{
 	background:none;
 }

 footer ul ul a::after{
 	content:"||";
  }

#menu a {
	color:black;
	text-decoration: none;
	cursor: pointer;
	width : 20%;
}

a:visited{
	color:pink;
}

a:active{
	color: red;
}

/*a:hover{
	background: black;
	z-index: 3;
}*/


main{
	width: 100%;
	position:relative;
	overflow: auto;
}

article{
	float:right;
	width: 70%;
	margin-right: 80px;
	margin-bottom:23px;
	margin-top:20px;
	box-shadow: 0px 7px 20px 7px #680100;
	border-radius: 20px;
	}

aside{
	float: right;
	width: 20%;
}

fieldset{
	border:none;
	box-shadow: 0px 0px 20px 10px #cfcfcf;
}

legend{
	font-style: italic;
	text-align: center;
	font-size: 1.5em;
	text-decoration: underline red
	color: black;
	font-family: Impact, serif;
	font-weight: bold;
	margin-top:23px;
}

h1{
	color:blue;
	font-size: 2em;
	text-align: center;
	font-family: "Comic Sans MS", "Courier New", Verdana, serif;
	padding: 7px;
	margin:0 23 auto;
}

h2{
	font-size: 1.7em;
	color:red;
	font-family: Impact, "Courier New", Verdana, serif;
	border-bottom: 7px green solid;
	text-align: center;
	padding: 3px;
}

h3, h4{
	font-style: oblique;
	font-size: 1em;
	color:black;
	font-family: salsa, Verdana, "Courier New", serif;
	text-align: center;
	padding:3px;
}

h4{
	font-weight: bold;
	font-size: 0.7rem;
	font-family: salsa, Verdana, "Courier New", serif;
	text-decoration: underline;
}

h5{
	font-size: 0.7rem;
	font-family: "Courier New", Verdana, serif;
}

p{
	font-family: salsa, "Comic Sans MS", serif;
	font-size: 1em;
	color:black;
	text-align: center;
	padding:3px;
	margin: 3px 3px auto; 
}

table{
 	border: 1px solid black;
 	text-align: left;
	font-family: "Comic Sans MS", "Courier New", Verdana, serif;
	border-collapse: collapse;
}

td{
	border: 1px dotted black;
}

th{
	color:black;
 	text-decoration: underline;
}


.home_section{
	position:relative;
	width: 20%;
	float: left;
	margin-top: 7px;
	box-shadow: 0px 7px 20px 7px #680100;
	border-radius: 30px;
	background: #680100;
}

.home_aside{
	width: 50%;
	float: right;
	margin: 90px 30px 90px 30px;
	border-radius: 30px;
}

.home_aside_aside{
 	background: grey;
 	border:7px black solid;
 	border-radius: 30px;
 	padding:7px;
 	box-shadow: 0px 7px 20px 7px #680100;
}

.home_aside_image{
	background: grey;
 	border:7px black solid;
 	border-radius: 30px;
 	padding:7px;
 	width: 20%;
 	float: right;
 	margin-left: 20px;
 	margin-top: 7px;
 	box-shadow: 0px 7px 20px 7px #680100; 
}

.important{
 	text-decoration: underline;
 	text-decoration-color: red;
 }

.full{
	width: 100%;
	overflow: auto;
}

.logo1{
	width: 251px;
	height:100px;
	overflow: hidden;
	background-image: url(../image/vers-recycleur.png);
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 0.5;
	float:left;
}

.titre{
	float:left;
	width: 70%;
}

.slogan{
	font-size: 1.5em;
	font-weight: bolder;
	font-style: italic;
	text-shadow: red;
	text-decoration: overline;
	text-transform: capitalize;
	text-shadow: 3px 2px red;
}

.puce_deroulante::before{
	content:"+";
	font-size: 1em;
	border:1px black solid;
	background: white;
	border-radius: 23px;
	font-weight: bolder;
	cursor: pointer;
	padding:auto;
	text-align: center;
}

.important{
 	text-decoration: overline;
 	text-decoration-color: red;
 }

.nav_li{
	background:brown;
}

.nav_6{
	background: aqua;
	border-radius: 20px;
}

.nav_nav_1{
	background: blue;
	border-radius: 20px;
}

.nav_4{
	background: blue;
	border-radius: 10px;
}

.nav_5{
	background: aqua;
	border-radius: 10px;
}

.nav_1{
	background: green;
	/*border-left: 3px solid green;
	border-right: 3px solid green;
	border-bottom: 3px solid green;*/
	border-radius: 10px;
}

.nav_2{
	background: yellow;
	/*border-left: 3px solid yellow;
	border-right: 3px solid yellow;
	border-bottom: 3px solid yellow;*/
	border-radius: 10px;
}

.nav_3{
	background: red;
	/*border-left: 3px solid red;
	border-right: 3px solid red;
	border-bottom: 3px solid red;*/
	border-radius: 10px;
}

.table_yes{
 	color:green;
 }

 .table_no{
 	color:red;
 }

.aside_image{
	overflow: hidden;
	background: grey;
 	border:7px black solid;
 	box-shadow: 0px 7px 20px 7px #680100;
 	border-radius: 30px;
 	padding:7px;
 	margin-top:23px;
 	margin-left: auto;
	margin-right: auto;
}

.aside_saison_image{
	width: 90%;
	margin: 0 auto;
}

.aside_saison_image img {
	max-width:100%;
	width:100%;
}

.aside_profil_image{
	width: 90%;
	margin: 0 auto;
}

.aside_profil_image img {
	max-width:100%;
	width:100%;
}

.aside_profil_panier{
	margin:23px auto;
	text-align: center
}
.aside{
	overflow: auto;
 	background: grey;
 	border:7px black solid;
 	box-shadow: 0px 7px 20px 7px #680100;
 	border-radius: 30px;
 	padding:7px;
 	margin-top:23px;
 	margin-left: auto;
	margin-right: auto;
}

.aside-info{
	font-size: 1rem;
	color:red;
	text-align: center;
	padding:3px;
	font-weight: bolder;
}

.button{
	text-align: center;
	margin-top:7px;
}

.form_buttun{
    width: 90%;
    background-color: #4CAF50;
    color: white;
    display: inline-block;
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 10px #cb0000;
    cursor: pointer;
}

.aside_conexion_button{
	background-color: #4CAF50;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0px 0px 20px 10px #000000;
    font-size: 1em;
    font-style: italic;
    font-weight: bolder;
    margin: 4px 2px;
    cursor: pointer;
}

.forum_message{
	box-shadow: 0px 10px 10px 5px #000000;
	border-radius: 30px;
	margin: 23px;
}

.forum_image{
	width: 20%;
	margin: 3px;
	display: inline-block;
}

.forum_image img {
	max-width:100%;
	width:100%;
}

.forum_text{
	text-align:left;
	width: 70%;
	display: inline-block;
}

.form{
	border:3px black solid;
	border-radius: 20px;
	margin: 23px auto;
	padding:7px;
}

.form_info{
	font-size: 1.3rem;
	font-family: Verdana, serif, "Courier New", "Comic Sans MS";
	font-style: normal;
	margin-bottom: 7px;
	font-weight: bold;
}

.form_tape{
	width: 100%;
    padding: 12px 20px;
    margin:0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form_tape_small{
	width: 30%;
    padding: 12px 20px;
    margin:0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form_contact_champ{
	width:100%;
	border: 7px black solid;
	border-radius: 20px;
}

.shop_navigateur{
	overflow: auto;
	margin: 0px auto;
	box-shadow: 0px 10px 10px 5px #000000;
	border-radius: 30px;
	padding:5px;
}

.shop_navigateur_list{
	
}

.shop_navigateur_list li{
	display:inline-block;
	border: 2px black solid;
	width:25%;
	box-shadow: 0px 10px 10px 5px blue;
	border-radius: 30px;
	float: left;
}

.shop_navigateur_list li ::after{
	content:" > ";
}

.shop_navigateur_panier{
	float: right;
}

.produit{
	overflow: auto;
	margin: 10px auto;
	box-shadow: 0px 10px 10px 5px #000000;
	border-radius: 10px;
	padding:5px;
}

.produit_button{
	background-color: black;
	font-size:0.8em;
    color: white;
    display: inline-block;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 10px #cfcfcf;
    cursor: pointer;
}
.produit_photo{
	width: 32%;
	float: left;
	border: 3px solid grey;
	box-shadow: 10px 10px 5px #656565;
	margin:5px 3px;
}

.produit_photo img {
	max-width:100%;
	width:100%;
}

.produit_description{
	float:left;
	width: 32%;
	margin:5px 3px;
	box-shadow: 10px 10px 5px #656565;

}

.produit_description_text{
	font-style: italic;
	opacity:1;
}

.produit_action{
	float:left;
	width: 30%;
	border:3px solid black;
	border-radius: 30px;
	margin: 5px 5px;
}

.produit_prix{
	font-size: 2em;
}


.panier_navigation{
	margin: 0px auto;
	width: 100%	
}

.panier_navigation li{
	display:inline-block;
	border: 2px blue solid;
	width: 17%;
	box-shadow: 0px 10px 10px 5px #000000;
	border-radius: 30px;
	padding:5px;
}
.panier_navigation_color{
	background: green;
}

.panier_button{
	background-color: grey;
    color: black;
    display: inline-block;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 10px black;
    cursor: pointer;
}

.panier_suprim_button{
	background-color: red;
	color: black;
	display: inline-block;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	font-weight: bold;
	border-radius: 10px;
	box-shadow: 0px 0px 20px 10px black;
	cursor: pointer;
}

.panier_produit{
	float:left;
	width: 32%;
	box-shadow: 0px 5px 10px 5px #32cb00;
	margin:3px 3px;
}

.panier_produit_photo{
	width: 32%;
	float: left;
	border: 3px solid grey;
	margin:0px 3px;
}

.panier_produit_photo img {
	max-width:100%;
	width:100%;
}

.panier_produit_prix{
	font-size: 1em;
	width: 50%;
}

.panier_livraison{
	width: 45%;
	display: inline-block;
	text-align: center;
	box-shadow: 0px 10px 10px 5px #000000;
	margin-left:13px;
}

.panier_livraison_contenu{
	width: 100%;
	border:1px green solid;
}

.panier_livraison_contenu_mode{
	width: 100%;
	text-align: center;
}

.panier_livraison_contenu_detail{
	width: 100%;
	font-style:italic;
	font-size: 0.7em;
	text-align: center;
}

.panier_total{
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom:23px;
}

.panier_recapitulatif{
	width: 46%;
	float: left;
	margin:15px;
}


.page li{
	display:inline-block;
	font-style: oblique;
	border: 3 solid green;
	border-radius: 20px;
	background: green;
	float:right;
	margin:7px 3px;
	text-align:center;
}

.shop_baniere{
	overflow: auto;
	border-left: 8px solid red;
	border-right: 8px solid red;
	border-top: 3px solid red;
}

.shop_baniere_photo{
	width: 31%;
	float: left;
	border: 8px solid red;
	
}

.shop_baniere_photo img {
	max-width:100%;
	width:100%;
}

.shop_slogan{
	font-size: 2em;
	font-style: oblique;
	text-align: center;
	font-weight: bolder;
	border-left: 8px solid brown;
	border-right: 8px solid brown;
	border-bottom: 8px solid brown;
	margin: 0px;
}

.shop_saison{
	overflow: auto;
}
.shop_produit{
	width: 40%;
	float:left;
	margin:23px 23px 23px 23px;
	border-bottom: 3px solid red;
	box-shadow: 0px 5px 10px 10px #00009b;
}

.shop_produit_photo{
	width: 100%;
	border: 3px solid grey;
	margin:0px 3px;
}

.shop_produit_photo img {
	max-width:100%;
	width:100%;
}


.shop_sold{
	font-size: 2em;
	background: red;
	margin-top: 10px;
	margin-bottom: 10px;
}

.shop_produit_prix{
	margin-top: 8px;
	font-size: 2em;
	font-weight: bold;
}

.shop_livraison{
	width: 100%;
	overflow: auto;
	background: green;
	margin-bottom: 23px;
}

.shop_livraison_photo{
	width: 30%;
	float:right;
}

.shop_livraison_chrono{
	width: 60%;
	float: right;
}

.shop_livraison_text{
	font-size: 2em;
	font-weight: bold;
	margin-left: 20px;
}