main{
	overflow: auto;
}

section{
	width: 20%;
	float: left;
	margin-top: 23px;
	box-shadow: 0px 7px 20px 7px #680100;
	border-radius: 30px;
	background: #680100;
}

aside{
	width: 50%;
	float: right;
	margin: 90px 30px 90px 30px;
	border-radius: 30px;
}

.aside{
 	background: grey;
 	border:7px black solid;
 	border-radius: 30px;
 	padding:7px;
 	box-shadow: 0px 7px 20px 7px #680100;
}

.aside_image{
	background: grey;
 	border:7px black solid;
 	border-radius: 30px;
 	padding:7px;
 	width: 20%;
 	float: right;
 	margin-left: 20px;
 	margin-top: 23px;
 	box-shadow: 0px 7px 20px 7px #680100; 
}