body{
	/*max-width: 972px;
	width: 90%;
	margin-left:auto;
	margin-right: auto;
	font-size:1em;*/
}


header{
	width:100%;
	overflow: auto;
	background-image: url(../image/gazon.jpg);
	background-repeat: repeat;
	background-size: contain;
}

ul{
	list-style-type: none;
	margin-bottom: 0px;
	text-align: center;
	padding:3px;
}
nav{
	width: 100%;
	
	text-align: center;
	background-image: url(../image/vers_compost.gif);
	background-repeat: repeat;
	background-size: contain;
}

 nav li{
	display:inline-block;
	margin:25px;
	background:brown;
 }

nav a::after {
	content:"||";
}

a {
	color:black;
	text-decoration: none;
}


a:visited{
	color:pink;
}

a:active{
	color: red;
}

a:hover{
	background: black;
	box-shadow: red;
}


main{
	width: 100%;
	position:relative;
}

section{
	position:fixed;
	width: 20%;
	left:8px;
	top:213px;
}

article, form{
	float: right;
	width: 50%;
	margin-right: 83px;
	}

aside{
	float: right;
	width: 20%;
}

label, input, .complement {
	margin:23px auto;
}

h1{
	color:blue;
	text-shadow: red;
	font-size: 2em;
	text-align: center;
	font-family: "Comic Sans MS", "Courier New", Verdana, serif;
	padding: 7px;
	margin-left: auto;
	margin-right: auto;
	background: red;
}

h2{
	font-size: 1.7em;
	color:red;
	border-bottom: 7px green solid;
	text-align: center;
	padding: 3px;
}

h3{
	font-size: 1.3em;
	color:black;
	text-align: center;
	padding:3px;
}

h4{
	font-size: 1em;
	color:black;
	text-align: center;
	padding:3px;
}

p{
	font-size: 1em;
	color:black;
	text-align: center;
	padding:3px; 
}

	


table{
 	border: 1px solid black;
 	text-align: left;
	font-family: "Comic Sans MS", "Courier New", Verdana, serif;
}

th{
	color:black;
 	text-decoration: underline;
}

	 
.full{
	width: 100%;
	overflow: auto;
}

.logo1{
	width: 251px;
	height:100px;
	overflow: hidden;
	background-image: url(../image/vers-recycleur.png);
	background-repeat: no-repeat;
	background-size: contain;
	float:left;
}

.titre{
	float:left;
	width: 70%;
}

.section_inscrit{
	background: blue;
}

.section_conect{
	background: aqua;
}

.section_jardin{
	background: green;
	border-left: 3px solid green;
	border-right: 3px solid green;
	border-bottom: 3px solid green;
}

.li_border{
	background: white;
}

.li_li_border{
	background: blue;
}

.section_vers{
	background: yellow;
	border-left: 3px solid yellow;
	border-right: 3px solid yellow;
	border-bottom: 3px solid yellow;
}

.section_produit{
	background: red;
	border-left: 3px solid red;
	border-right: 3px solid red;
	border-bottom: 3px solid red;
}

.aside_image{
	overflow: hidden;
	background: grey;
 	border:7px black solid;
 	padding:7px;
 	margin-top:23px;
 	margin-left: auto;
	margin-right: auto;
}

.aside_saison_image{
	width: 90%;
	margin: 0 auto;
}

.aside_saison_image img {
	max-width:100%;
	width:100%;
}

.aside_profil_image{
	width: 90%;
	margin: 0 auto;
}

.aside_profil_image img {
	max-width:100%;
	width:100%;
}

.aside_profil_panier{
	margin:23px auto;
	text-align: center
}
.aside{
	overflow: auto;
 	background: grey;
 	border:7px black solid;
 	padding:7px;
 	margin-top:23px;
 	margin-left: auto;
	margin-right: auto;
}

.aside-info{
	font-size: 0.75rem;
	color:black;
	text-align: center;
	padding:3px;
	margin-left: auto;
	margin-right: auto;
}

.button{
	text-align: center;
}

.form{
	border:3px black solid;
	border-radius: 20px;
	margin: 23px auto;
	padding:7px;
}

.form_info{
	font-size: 1em;
	font-style: normal;
	text-decoration: underline;
	font-family: "Courier New", "Comic Sans MS", Verdana, serif;
	text-align: center;
	padding: 7px;
	}

.form_choix{
	font-size: :0.7em;
	text-decoration: none;
	font-family: Verdana, serif, "Courier New", "Comic Sans MS";
}

 .table_yes{
 	color:green;
 }

 .table_no{
 	color:red;
 }

 .important{
 	text-shadow: blue;
 	border: 3px solid red;
 	border-radius: 20px;
 }

 .important::before{

 }
	
