body{
	/*max-width: 972px;
	width: 90%;
	margin-left:auto;
	margin-right: auto;
	font-size:1em;*/
}


header{
	width:100%;
	overflow: auto;
	background-image: url(../image/gazon.jpg);
	background-repeat: repeat;
	background-size: contain;
}

ul{
	list-style-type: none;
	margin: 0px;
	text-align: center;
	padding:3px;
}

 nav li{
	display:inline-block;
	margin:25px 0px 0px 0px;
	background:brown;
	width:19%
 }

 footer li{
 	display:inline-block;
	margin:0px 0px 0px 0px;
	background:brown;
	width:18%
 }

 footer ul{
 	background-image: url(../image/vers_compost.gif);
	background-repeat: repeat;
	background-size: contain;
 }

 footer{
 	background:brown;
 }

a {
	color:black;
	text-decoration: none;
}


a:visited{
	color:pink;
}

a:active{
	color: red;
}

a:hover{
	background: black;
	box-shadow: red;
}


h1{
	color:blue;
	font-size: 2em;
	text-align: center;
	font-family: "Comic Sans MS", "Courier New", Verdana, serif;
	padding: 7px;
	margin:0 23 auto;
}

h2{
	font-size: 1.7em;
	color:red;
	font-family: Impact, "Courier New", Verdana, serif;
	border-bottom: 7px green solid;
	text-align: center;
	padding: 3px;
}

h3, h4{
	font-size: 1em;
	color:black;
	font-family: Verdana, "Courier New", serif;
	text-align: center;
	padding:3px;
}

h4{
	font-size: 1em;
	color:black;
	text-align: center;
	padding:3px;
}

p{
	font-size: 1em;
	color:black;
	text-align: center;
	padding:3px;
	margin: 3px 3px auto; 
}


.full{
	width: 100%;
	overflow: auto;
}

.logo1{
	width: 251px;
	height:100px;
	overflow: hidden;
	background-image: url(../image/vers-recycleur.png);
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 0.5;
	float:left;
}

.titre{
	float:left;
	width: 70%;
}

.li_border{
	background: white;
	border-radius: 20px;
}

.li_li_border{
	background: blue;
	border-radius: 20px;
}

.section_inscrit{
	background: blue;
	border-radius: 10px;
}

.section_conect{
	background: aqua;
	border-radius: 10px;
}

.section_jardin{
	background: green;
	border-left: 3px solid green;
	border-right: 3px solid green;
	border-bottom: 3px solid green;
	border-radius: 10px;
}

.section_vers{
	background: yellow;
	border-left: 3px solid yellow;
	border-right: 3px solid yellow;
	border-bottom: 3px solid yellow;
	border-radius: 10px;
}

.section_produit{
	background: red;
	border-left: 3px solid red;
	border-right: 3px solid red;
	border-bottom: 3px solid red;
	border-radius: 10px;
}

.aside_saison_image{
	width: 90%;
	margin: 0 auto;
}

.aside_saison_image img {
	max-width:100%;
	width:100%;
}

.aside_profil_image{
	width: 90%;
	margin: 0 auto;
}

.aside-info{
	font-size: 2rem;
	color:black;
	text-align: center;
	padding:3px;
}

.button{
	text-align: center;
	margin-top:7px;
}

.form_info{
	font-size: 1.7rem;
	font-family: Verdana, serif, "Courier New", "Comic Sans MS";
	font-style: normal;
	margin-bottom: 7px;
}

.form_tape{
	width: 100%;
    padding: 12px 20px;
    margin:0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form_tape_small{
	width: 30%;
    padding: 12px 20px;
    margin:0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form_contact_champ{
	width:100%;
	border: 7px black solid;
}

 

 .important{
 	text-shadow: blue;
 	border: 3px solid red;
 	border-radius: 20px;
 }

 .important::before{

 }